.Hero-img {

    height: 45rem;
    background-image: url('/Design 1.png');
    background-position: center -1rem;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem;


}

.hero-text {

    padding: 7rem;

}

.hero-text p {

    color: rgb(108, 108, 108);
    font-weight: 600;
}

.hero-text h1 {

    color: #000000;
    font-weight: 700;
    font-size: 4rem;

}





/* Responsive */
@media only screen and (min-width: 1180px) and (max-width: 1300px) {



    .hero-text {

        padding: 6rem;

    }

    .hero-text h1 {

        color: #000000;
        font-weight: 700;
        font-size: xxx-large;

    }



}


@media only screen and (min-width: 991px) and (max-width: 1180px) {



    .hero-text {

        padding: 6rem;
        padding-left: 3rem;
        padding-top: 4rem;

    }

    .hero-text h1 {

        color: #000000;
        font-weight: 700;
        font-size: xxx-large;

    }



}


@media only screen and (min-width: 768px) and (max-width: 991px) {



    .hero-text {

        padding: 5rem;
        padding-left: 3rem;

    }

    .hero-text h1 {

        color: #000000;
        font-weight: 700;
        font-size: 2.5rem;

    }



}



@media only screen and (min-width: 600px) and (max-width: 768px) {



    .hero-text {

        padding: 5rem;
        padding-left: 3rem;

    }

    .hero-text h1 {

        color: #000000;
        font-weight: 700;
        font-size: 2.5rem;

    }



}


@media only screen and (min-width: 600px) and (max-width: 768px) {



    .hero-text {

        padding: 5rem;
        padding-left: 0rem;

    }

    .hero-text h1 {

        color: #000000;
        font-weight: 700;
        font-size: 2.5rem;

    }

    .Hero-img {


        background-image: url('/Design 1.png');
        background-position: 55% 50%;
        background-repeat: no-repeat;
        background-size: cover;


    }



}


@media only screen and (min-width: 481px) and (max-width: 600px) {



    .hero-text {

        padding: 5rem;
        padding-left: 0rem;

    }

    .hero-text h1 {

        color: #000000;
        font-weight: 700;
        font-size: 2.3rem;

    }

    .hero-text p {

        color: #000000;

    }

    .Hero-img {


        background-image: url('/Design 1.png');
        background-position: 58% 50%;
        background-repeat: no-repeat;
        background-size: cover;


    }



}


@media only screen and (max-width: 481px) {



    .hero-text {

        padding: 4rem;
        padding-left: 0rem;

    }

    

    .hero-text h1 {

        color: #000000;
        font-weight: 700;
        font-size: 2.3rem;

    }

    .hero-text p {

        color: #000000;

    }

    .Hero-img {


        background-image: url('/Design 1.png');
        background-position: 62% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        padding-left: 1.5rem !important;


    }



}